<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-writeSettings"
    version="0.0.1">
    <name>cordova write settings</name>
    <description>Request write settings on android </description>
    <license>MIT</license>
    <keywords>write permission</keywords>
    <repo>https://github.com/mugenyi/cordova-plugin-writeSettings</repo>
    <issue>https://github.com/mugenyi/cordova-plugin-writeSettings</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="WriteSettings" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="WriteSettings">
          <param name="android-package" value="cordova.plugins.WriteSettings" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/WriteSettings.java" target-dir="src/cordova/plugins" />
    </platform>
</plugin>
